:root[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --secondary-bg: #0D47A1;
  --border-color: #1565C0;
  --link-color: #90CAF9;
}

[data-theme="dark"] body {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] a {
  color: var(--link-color);
}

[data-theme="dark"] .card,
[data-theme="dark"] .navbar,
[data-theme="dark"] .footer {
  background-color: var(--secondary-bg);
  border-color: var(--border-color);
}

[data-theme="dark"] .toolbar {
    background-color: var(--secondary-bg);
    border-color: var(--border-color);
}

[data-theme="dark"] .nav-button {
    color: #E3F2FD;
}

[data-theme="dark"] #themeToggle {
    color: #E3F2FD;
} 